
header {
    display: flex;
    height: 50px;
    position: fixed;
    left: 0px;
    right: 0px;
    transition: 0.3s;
    max-width: 1200px;
    margin: auto;
}

.header-on-top {
    justify-content: space-between;
    z-index: 10;
    align-items: center;
    transition: 0.3s;
    padding: 20px 100px;
}

.header-on-scroll {
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    background-color: rgb(230, 163, 21);
    z-index: 10;
    transition: 0.3s;
}



.activity-info,
.activities,
.contacts,
.animate__animated,
.animate__fadeIn {
    animation-duration: 1s;
}

header .logo-on-scroll {
    height: 100%;
    transition: 0.3s;
}

header .logo-on-top {
    height: 120%;
    padding-top: 20px;
    transition: 0.3s;
}

header .header-left img {
    height: 100%;
}


header .header-right ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}


header .header-right ul li {
    list-style-type: none;
    padding: 15px 0;
}

header a {
    text-decoration: none;
    padding: 15px;
}

header .link-active {
    color: rgb(209, 40, 25);
}

header .link-inactive {
    color: black;
}

header ul li a:hover {
    color: rgb(209, 40, 25);
    transition: 0.3s; 
}