@media only screen and (max-width: 760px) {
    .header-on-top {
        justify-content: flex-start;
        padding: 0 10px !important ;
        align-items: center;
        background-color: rgb(230, 163, 21);
        z-index: 10;
        transition: 1.3s;
    }

    .header-on-scroll{
        /* margin-top: 10px; */
        justify-content: flex-start !important;
        padding: 0 10px !important ;
        align-items: center !important;
        background-color: rgb(230, 163, 21);
        z-index: 10;
        transition: 1.3s; 
    }

    header .logo-on-top {   
        height: 100% !important ;
        transition: 0.3s;
        padding: 0 !important;
        position: relative;
    }

    header .header-right ul{
        display: none !important ;
    }

    .dropdown{
        display: inline-block !important;
        right: 10px !important ;
    }

   
}


.dropbtn {
    position: absolute;
    top: -14px;
    right: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
      display: none;
    text-align: right;
    transition: 0.3s;
    right: 120px;
    top: -14px;
    /* display: inline-block; */
  }
  
  .dropdown-content {
    display: none;
    width: 100%;
    left: 0px;
    top: 53px;
    position: absolute;
    background-color: rgb(230, 163, 21);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: rgb(209, 40, 25);
    transition: 0.3s; 
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  


 .dropbtn {
    width: 40px;
}

.dropbtn img{
    width: 100%;
}


header {
    display: flex;
    height: 50px;
    position: fixed;
    left: 0px;
    right: 0px;
    transition: 0.3s;
    max-width: 1200px;
    margin: auto;
}

.header-on-top {
    justify-content: space-between;
    z-index: 10;
    align-items: center;
    transition: 0.3s;
    padding: 20px 100px;
}

.header-on-scroll {
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    background-color: rgb(230, 163, 21);
    z-index: 10;
    transition: 0.3s;
}



.activity-info,
.activities,
.contacts,
.animate__animated,
.animate__fadeIn {
    animation-duration: 1s;
}

header .logo-on-scroll {
    height: 100%;
    transition: 0.3s;
}

header .logo-on-top {
    height: 120%;
    padding-top: 20px;
    transition: 0.3s;
}

header .header-left img {
    height: 100%;
}


header .header-right ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}


header .header-right ul li {
    list-style-type: none;
    padding: 15px 0;
}

header a {
    text-decoration: none;
    padding: 15px;
}

header .link-active {
    color: rgb(209, 40, 25);
}

header .link-inactive {
    color: black;
}

header ul li a:hover {
    color: rgb(209, 40, 25);
    transition: 0.3s; 
}